@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Revalia&family=Shadows+Into+Light&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}


html{

    font-family: "Revalia", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url(/img/pexels-freestocks-76942.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.cabecalho{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20x;
    background-color: rgba(254, 254, 254, 0.5);
    height: 150px;

}

.logotipo {
    width: 200px;
    padding: 10px;
}

.menu{

    display: flex;
    gap: 180px;
}

.menuitem{

    color: black;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;


}

.menuitem:hover{

    cursor: pointer;

}

#acesse , #inscreva {

    background-color: rgba(254, 254, 254, 0.5);
    border-radius: 10px;
    font-weight: bold;

}

#acesse:hover , #inscreva:hover {

    background-color: black;
}


.conteudo{

    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10px;

}

.conteudoPrincipal{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#titulo{

    font-size: 40px;
    font-weight: bold;
}

#subtitulo{

    margin-top: 30px;
    font-size: 30px;
}

.botao{

    margin-top: 20px;
    width: 250px;
    height: 50px;
    background-color: rgb(10, 190, 151);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: white;

}

.botao:hover{

    background-color: blueviolet;
    color: black;

}

.rodape{

    padding: 10px;
}

.rodape P{

    text-align: center;


}